<table cell-spacing="0" cell-padding="0" class="mj-accordion" style="width:100%;border-collapse:collapse;border:2px solid black;border-bottom:none;font-family:Ubuntu, Helvetica, Arial, sans-serif;">
    <tbody>
        <tr>
            <td style="padding:0px;">
                <label class="mj-accordion-element" style="font-size:13px;">
                    <!--[if !mso | IE]><!--><input class="mj-accordion-checkbox" type="checkbox" style="display:none;" />
                    <!--<![endif]-->
                    <div>
                        <div class="mj-accordion-title">
                            <table cell-spacing="0" cell-padding="0" style="width:100%;border-bottom:2px solid black;">
                                <tbody>
                                    <tr>
                                        <td style="width:100%;font-size:13px;padding:16px;"> Why use an accordion? </td>
                                        <!--[if !mso | IE]><!-->
                                        <td class="mj-accordion-ico" style="padding:16px;vertical-align:middle;"><img src="https://i.imgur.com/bIXv1bk.png" alt="+" class="mj-accordion-more" style="display:none;width:32px;height:32px;" /><img src="https://i.imgur.com/w4uTygT.png" alt="-" class="mj-accordion-less" style="display:none;width:32px;height:32px;" /></td>
                                        <!--<![endif]-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mj-accordion-content">
                            <table cell-spacing="0" cell-padding="0" style="width:100%;border-bottom:2px solid black;">
                                <tbody>
                                    <tr>
                                        <td style="font-size:13px;line-height:1;padding:16px;">
                                            <span style="line-height:20px"> Element1 </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </label>
            </td>
        </tr>
        <tr>
            <td style="padding:0px;">
                <label class="mj-accordion-element" style="font-size:13px;">
                    <!--[if !mso | IE]><!--><input class="mj-accordion-checkbox" type="checkbox" style="display:none;" />
                    <!--<![endif]-->
                    <div>
                        <div class="mj-accordion-title">
                            <table cell-spacing="0" cell-padding="0" style="width:100%;border-bottom:2px solid black;">
                                <tbody>
                                    <tr>
                                        <td style="width:100%;font-size:13px;padding:16px;"> How it works </td>
                                        <!--[if !mso | IE]><!-->
                                        <td class="mj-accordion-ico" style="padding:16px;vertical-align:middle;"><img src="https://i.imgur.com/bIXv1bk.png" alt="+" class="mj-accordion-more" style="display:none;width:32px;height:32px;" /><img src="https://i.imgur.com/w4uTygT.png" alt="-" class="mj-accordion-less" style="display:none;width:32px;height:32px;" /></td>
                                        <!--<![endif]-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mj-accordion-content">
                            <table cell-spacing="0" cell-padding="0" style="width:100%;border-bottom:2px solid black;">
                                <tbody>
                                    <tr>
                                        <td style="font-size:13px;line-height:1;padding:16px;">
                                            <span style="line-height:20px"> Element2 </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </label>
            </td>
        </tr>
    </tbody>
</table>