<div aria-roledescription="email" role="article">
    <!-- [$if mso | IE] -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td>
                <!-- [endif] -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="display:inline-table;float:none;">
                    <tbody>
                        <tr>
                            <td style="padding:0 10px 0 0;vertical-align:middle;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:200px;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0;height:200px;vertical-align:middle;width:200px;">
                                                <a href="#" target="_blank">
                                                    <img alt="christmas tree" src="https://cdn.pixabay.com/photo/2023/12/14/20/24/christmas-balls-8449615_1280.jpg" width="200" style="border-radius:3px;display:block;" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:4px 4px 4px 0;vertical-align:middle;">
                                <a href="#" target="_blank" style="color:#333333;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-decoration:none;">
                                    This image is not displayed when complied with mjml-net
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- [$if mso | IE] -->
            </td>
        </tr>
    </table>
    <!-- [endif] -->
</div>

