<div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
    <!--[if mso | IE]>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" >
       <tr>
          <td style="width:300px;" >
             <![endif]-->
    <div style="height:20px;line-height:20px;">&#8202;</div>
    <!--[if mso | IE]>
          </td>
       </tr>
    </table>
    <![endif]-->
</div>
<div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
    <!--[if mso | IE]>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" >
       <tr>
          <td style="width:300px;" >
             <![endif]-->
    <div style="height:20px;line-height:20px;">&#8202;</div>
    <!--[if mso | IE]>
          </td>
       </tr>
    </table>
    <![endif]-->
</div>